DEV_MODE=false

# базовый домен
BASE_DOMAIN=sendelius.loc

# настройки подключения к postgresql
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=reonta
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# настройки подключения к redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PREFIX=snd

# настройки подключения к nats
NATS_HOST=nats
NATS_PORT=4222

# настройка сессий
SESSION_TTL=172800